.wrapper {
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
}
.accordion {
  width: 75%;
}

.faqItem {
  background: #ffd369;
  margin-bottom: 5px;
  padding: 10px 20px;
}

.faqTitle {
  color: #393e46;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faqTitle > h3 {
  color: #393e46;
}

.faqContent {
  color: #463629;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  padding: 0px 70px;
}
.faqContent > p {
  font-size: 1.25em;
}
.faqContent.show {
  border-top: 1px #393e46 solid;
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
.rotate {
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.rotate.down {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
