.wrapper{
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
}
.accordion{
  width: 75%;
}

.faqItem{
  background: #f0ebe1;
  margin-bottom: 5px;
  padding: 10px 20px; 
}

.faqTitle{
  color: #85662b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faqTitle > h3{
  color: #85662b;
}


.content{
  color:#8b7f75;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  padding: 0px 70px;
}
.content > p{
  font-size: 1.25em;
}
.content.show{
  border-top: 1px #85662b solid;
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
.rotate {
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.rotate.down {
  -moz-transform:rotate(225deg);
  -webkit-transform:rotate(225deg);
  transform:rotate(225deg);
}