*{
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: white;
}
a{
    margin: 5px;
    text-decoration: none;
    color: white;
}
.header {
  background-color: black;
  color: rgb(0, 0, 0);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  }

.header > div {
  margin: 10px;
}

.headerItems{
    display: flex;
    float: right;
    color: #f7eeee;
    cursor: pointer;
    font-size: larger;
}
    .headerItems p{
        margin:10px;
    }

    li{
      list-style-type:none;
      }

.headerActions{
    display: flex;
    align-items: center;
}
.headerActions > div{
    margin: 10px;
}
.themeSwitchContainer{
    display: flex;
    background-color: #1c1c1c;
    border-radius: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
.themeSwitchContainer > img{
    height: 25px;
}

.Logo {
  width: 200px;
   height: 100px;
}


.btn {
  width: 130px;
  height: 50px;
  font-family: 'Cinzel', serif;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
}

.btn::before, .btn::after {
  position: absolute;
  background: black;
  z-index: -1;
  transition: 1s;
  content: '';
}

.btn::before {
  height: 50px;
  width: 130px;
}

.btn::after {
  width: 150px;
  height: 30px;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.btn:hover::before {
  width: 0px;
  background: black;
}

.btn:hover::after {
  height: 0px;
  background: black;
}

.btn:hover {
  border: 1px solid white;
  background: black;
}